<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post created</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <h3 style="text-align: center;">Post successfully created!</h3>
    <form action="/home" method="GET" id="header-box1">
        <input type="submit" name="Home" value="Home" class="btn btn-outline-primary" >
    </form>
</body>
</html>